<main class="container mb-xxxxl">
  <%= link_to sanitize("&larr; Back to events"), events_path %>

  <h1 class="text-4xl"> <%= @event.name %></h1>
  <div>
    <h5> Event location: <%= @event.location %> </h5>
    <p> <%= @event.description %> </p>
    <h5> Starts at: <%= @event.start_at.to_formatted_s(:long) %> </h5>
    <h5> Ends at: <%= @event.end_at.to_formatted_s(:long) %> </h5>
  </div>
</main>