<div class="bg-gray-300 rounded-lg p-2 my-4 w-40 divide-y-2 text-black">
	<%= link_to(event_match_path(event, match), data: {turbo_frame: "_top"}) do %>
		<% if match.winner && match.winner == match.competitor1 %>
      <div class="font-bold text-green-600">
        <%= match.competitor1_name %>
      </div>
    <% elsif match.loser && match.loser == match.competitor1 %>
      <div class="font-bold text-red-600">
        <%= match.competitor1_name %>
      </div>
    <% else %>
      <div>
        <%= match.competitor1_name %>
      </div>
    <% end %>

    <hr class="h-px my-0.5 bg-gray-400 border-0">

    <% if match.winner && match.winner == match.competitor2 %>
      <div class="font-bold text-green-600">
        <%= match.competitor2_name %>
      </div>
    <% elsif match.loser && match.loser == match.competitor2 %>
      <div class="font-bold text-red-600">
        <%= match.competitor2_name %>
      </div>
    <% else %>
      <div>
        <%= match.competitor2_name %>
      </div>
    <% end %>
	<% end %>
</div>