<%= turbo_stream_from "matches_show_#{@match.id}" %>

<main class="max-w-2xl mx-auto mt-10 p-6">
	<%= link_to sanitize("&larr; Back to bracket"), event_bracket_path(@event, @match.bracket), class: "text-blue-500 hover:underline mb-4 inline-block" %>

	<h1 class="text-4xl font-bold mb-6">
    <% if @match.competitor1.present? %>
      <%= link_to user_path(@match.competitor1), class: "text-blue-500 hover:underline hover:text-blue-600 transition duration-300" do %>
        <%= @match.competitor1_name %>
      <% end %>
    <% else %>
      <%= @match.competitor1_name %>
    <% end %>
    vs
    <% if @match.competitor2.present? %>
      <%= link_to user_path(@match.competitor2), class: "text-blue-500 hover:underline hover:text-blue-600 transition duration-300" do %>
        <%= @match.competitor2_name %>
      <% end %>
    <% else %>
		  <%= @match.competitor2_name %>
    <% end %>
	</h1>

	<% if @event.organizer == current_user %>
		<%= link_to "Scoreboard", event_scoreboard_path(@event, match_id: @match.id), class: "mb-5 py-3 px-5 bg-blue-500 text-white rounded-lg inline-block hover:bg-blue-600 transition duration-300" %>
	<% end %>

  <%= render "matches/ongoing_match", match: @match %>
</main>
