<section class="flex justify-center items-center min-h-screen">
  <div class="bg-gray-500 mx-auto p-16 rounded-xl">

    <h2 class="text-4xl font-bold pb-6">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% f.options[:html][:class] = "grid gap-3" %>

      <div class="field">
        <%= f.email_field :email,
                          autofocus: true, autocomplete: "email", placeholder: "Email",
                          class: "" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "flex h-10 items-center justify-between rounded-sm bg-slate-700 px-2 text-slate-100 transition-colors duration-300 hover:bg-emerald-800 focus:outline-none focus:ring focus:ring-emerald-400" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>