<section class="flex justify-center items-center m-10">
  <div class="p-10 rounded-xl bg-white shadow-lg">

    <h2 class="text-4xl font-bold pb-6">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% f.options[:html][:class] = "grid gap-3" %>

      <div>
        <%= f.email_field :email,
                          autofocus: true, autocomplete: "email", placeholder: "Email",
                          class: "" %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="mb-5">
        <%= f.submit "Log in", class: "cursor-pointer bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition duration-300" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>