
<%= form_with(model: [event, entry], data: {controller: "dropdown", action: "change->dropdown#submit"}) do |form| %>
	<% if entry.errors.any? %>
		<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
		<h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
		<ul>
			<% entry.errors.each do |error| %>
			<li><%= error.full_message %></li>
			<% end %>
		</ul>
		</div>
	<% end %>

	<!-- # TODO: get the event weightclasses(age,belt,weight) 
	# and display them as options. Make dependent dropdowns -->
	<br>

  <div>
    <%= form.select :age, options_for_select(@ages), { prompt: "Select Age", required: true }, { class: "mt-2" } %>
    <%= form.select :sex, options_for_select(@sexes), { prompt: "Select Sex", required: true }, { class: "mt-2" } %>
    <%= form.select :belt, options_for_select(@belts), { prompt: "Select Belt", required: true }, { class: "mt-2" } %>
    <%= form.select :weight, options_for_select(@weights), { prompt: "Select Weight", required: true }, { class: "mt-2" } %>
  </div>
  <div class="mt-5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
