<section class="my-4 flex-row justify-between rounded-lg bg-gray-200 p-6 sm:flex">
	<div class="flex flex-col">
		<h2 class="mb-4 text-3xl font-semibold"><%= competitor_index == 1 ? match.competitor1_name : match.competitor2_name %></h2>
		<table>
			<tbody>
				<% ['+', '-'].each do |sign| %>
					<tr>
						<% [1, 2, 3, 4, 'A', 'P'].each do |value| %>
							<td>
								<%= button_to "#{sign}#{value}",
									event_add_scoreboard_values_path(
										event_id: match.bracket.event.id,
										match_id: match.id,
										competitor_index: competitor_index,
										number_to_add: value.is_a?(Integer) ? "#{sign}#{value}".to_i : "#{sign}1".to_i,
										attribute: (value == 'A' ? 'advantages' : value == 'P' ? 'penalties' : 'points')
									),
									{ form_class: "contents", class: "text-xl m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" } %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="md:flex md:items-center">
		<div class="md:mr-5">
			<div class="mb-4 flex flex-col items-center">
				<div class="text-xl">Advantage</div>
				<div class="text-3xl font-bold">
					<%= turbo_frame_tag "advantages#{competitor_index}" do %>
						<%= match.send("advantages#{competitor_index}") %>
					<% end %>
			</div>

			</div>
				<div class="mb-4 flex flex-col items-center">
				<div class="text-xl">Penalty</div>
				<div class="text-3xl font-bold">
					<%= turbo_frame_tag "penalties#{competitor_index}" do %>
						<%= match.send("penalties#{competitor_index}") %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="text-4xl rounded-lg bg-<%= competitor_index == 1 ? 'red' : 'blue' %>-500 text-center text-white md:flex md:h-full md:w-36 md:items-center md:justify-center">
			<%= turbo_frame_tag "points#{competitor_index}" do %>
				<%= match.send("points#{competitor_index}") %>
			<% end %>
		</div>
	</div>
</section>