<!-- this is scoreboard for match <%= @match.id %> -->
<% competitor1 = @match.competitor1.nil? ? "BYE" : @match.competitor1.full_name %>
<% competitor2 = @match.competitor2.nil? ? "BYE" : @match.competitor2.full_name %>

<main>
    <section>
        <!-- Competitor 1 -->
        <section class="m-4 flex-row justify-between rounded-lg bg-gray-200 p-6 sm:flex">
            <div class="flex flex-col">
                <h2 class="mb-4 text-xl font-semibold"><%= competitor1 %></h2>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <%= button_to "+1", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: 1, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "+2", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: 2, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "+3", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: 3, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "+4", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: 4, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "+A", controller: "matches", action: "add_advantages1", 
                                match_id: @match.id, number_to_add: 1, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "+P", controller: "matches", action: "add_penalties1", 
                                match_id: @match.id, number_to_add: 1, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <!-- <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">+1</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">+2</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">+3</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">+4</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">+A</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">+P</button></td> -->
                        </tr>
                        <tr>
                            <td>
                                <%= button_to "-1", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: -1, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "-2", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: -2, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "-3", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: -3, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "-4", controller: "matches", action: "add_points1", 
                                match_id: @match.id, number_to_add: -4, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "-A", controller: "matches", action: "add_advantages1", 
                                match_id: @match.id, number_to_add: -1, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <td>
                                <%= button_to "-P", controller: "matches", action: "add_penalties1", 
                                match_id: @match.id, number_to_add: -1, form_class: "contents", 
                                class:"m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400" %>
                            </td>
                            <!-- <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">-1</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">-2</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">-3</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">-4</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">-A</button></td>
                            <td><button class="m-1 rounded-md p-5 transition duration-300 hover:bg-gray-400">-P</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="md:flex md:items-center">
                <div class="md:mr-5">
                    <div class="mb-4 flex flex-col items-center">
                    <div class="text-sm">Advantage</div>
                    <div class="text-lg font-bold">
                        <%= turbo_frame_tag "advantages1" do %>
                            <%= render "matches/advantages", advantages: @match.advantages1 %>
                        <% end %>
                    </div>

                    </div>
                    <div class="mb-4 flex flex-col items-center">
                    <div class="text-sm">Penalty</div>
                    <div class="text-lg font-bold">
                        <%= turbo_frame_tag "penalties1" do %>
                            <%= render "matches/penalties", penalties: @match.penalties1 %>
                        <% end %>
                    </div>
                    </div>
                </div>
                <div class="text-xl rounded-lg bg-red-500 text-center text-white md:flex md:h-full md:w-36 md:items-center md:justify-center">
                    <%= turbo_frame_tag "points1" do %>
                        <%= render "matches/points", points: @match.points1 %>
                    <% end %>
                </div>
            </div>
        </section>

        <!-- Competitor 2 -->
        
    </section>
    
    <section>
    
    </section>
</main>