<!-- this is scoreboard for match <%= @match.id %> -->
<main>
    <section>
        <%= render "scoreboards/competitor", match: @match, competitor_index: 1 %>
        <%= render "scoreboards/competitor", match: @match, competitor_index: 2 %>
    </section>
    
    <section>
            <p data-timer-target="time"><%= @match.time_remaining_2 %></p>
            <p data-timer-target="time"><%= @match.timer_running_2? %></p>
        <!-- </div> -->
            <%= button_to "Start", event_start_timer_path(@match), method: :post %>
            <%= button_to "Stop", event_pause_timer_path(@match), method: :post %>
            <!-- <button>Start</button> -->
            <!-- <button data-action="click->timer#stop">Stop</button> -->
            <!-- <button data-action="timer#reset">Reset</button> -->
    </section>
</main>