<section class="flex justify-center items-center m-10">
  <div class="p-10 rounded-xl bg-white shadow-lg">
    <h2 class="text-2xl font-bold pb-6">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <% f.options[:html][:class] = "grid gap-3" %>

      <div>
        <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="mb-5">
        <%= f.submit "Send", class: "cursor-pointer bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition duration-300"  %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>