<main class="m-20 justify-center">
    <%= link_to sanitize("&larr; Back to event"), event_path(@event), class: "text-blue-500 hover:underline mb-4 inline-block" %>
    
    <% if @event.organizer == current_user %>
        <%= button_to "Generate All Matches", event_brackets_and_matches_path, method: :post , class: "text-blue-500 hover:underline" %>
        <%= button_to "Delete All Matches", event_brackets_and_matches_path, method: :delete , class: "text-red-500 hover:underline" %>
    <% end %>

    <section class="mb-10">
        serach by age,weight,..
    </section>
    
    <section>
        <%= render @brackets %>
    </section>

    <section class="mt-10">
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </section>
</main>