<main class="m-20 justify-center">
    <%= link_to sanitize("&larr; Back to all brackets"), event_brackets_path(@event), class: "text-blue-500 hover:underline mb-4 inline-block" %>
    
    <h1 class="text-3xl font-semibold">
        <%= render "weightclasses/weightclass", weightclass: @bracket.weightclass %>  
    </h1>

    <section>
        info
    </section>

    <% matches_by_round = @bracket.matches.group_by(&:round) %>
    <section class="grid grid-cols-<%= matches_by_round.keys.count %> gap-4">
        <% matches_by_round.each do |round, matches| %>
            <div class="col-span-1">
            <h2>Round <%= round %></h2>
                <%= render matches, event:@bracket.event %>
            </div>
        <% end %>
    </section>
</main>