<main class="m-20 justify-center">
	<%= link_to sanitize("&larr; Back to all brackets"), event_brackets_path(@event), class: "text-blue-500 hover:underline mb-4 inline-block" %>

	<h1 class="text-3xl font-semibold">
		<%= render "weightclasses/weightclass", weightclass: @bracket.weightclass %>
	</h1>

  <ul class="flex">
    <li class="mr-4 my-4">
      <%= link_to "Matches", event_bracket_matches_path(@bracket.event, @bracket),
        data: { turbo_frame: "content" },
        class: "bg-blue-700 rounded-xl text-white p-2 hover:bg-blue-600 transition duration-300" %>
    </li>
    <li class="my-4">
      <%= link_to "Entries", event_bracket_entries_path(@bracket.event, @bracket),
        data: { turbo_frame: "content" },
        class: "bg-blue-500 rounded-xl text-white p-2 hover:bg-blue-600 transition duration-300" %>
    </li>
  </ul>

  <%= turbo_frame_tag "content" do %>
    <%= render "brackets_and_matches/matches_tree", matches: @bracket.matches %>
  <% end %>
</main>