<section class="flex justify-center items-center min-h-screen">
  <div class="bg-gray-500 mx-auto p-16 rounded-xl">

    <h2 class="text-4xl font-bold pb-6">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <% f.options[:html][:class] = "grid gap-3" %>

      <div class="field">
        <%= f.radio_button :role, "competitor", checked: true %>
        <%= f.label :role, "Competitor" %><br/>
        <%= f.radio_button :role, "organizer" %>
        <%= f.label :role, "Organizer" %> <br/>
      </div>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", placeholder: "First Name" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name,  autocomplete: "family-name", placeholder: "Last Name" %>
      </div>

      <div class="field">
        <%= f.text_field :organization_name, placeholder: "Organization name" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>